.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin: 20px;
}

.login-form label {
  font-weight: bold;
  color: var(--main-text-color);
  margin-bottom: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  background-color: var(--input-bg-color);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.login-form .submit-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.login-error {
  margin: 5px;
  text-align: center;
  border: solid 1px;
  border-radius: 999px;
  cursor: pointer;

  background-color: rgba(165, 15, 15, 0.3);
  border-color: rgba(165, 15, 15, 1);
  color: rgba(165, 15, 15, 1);
}
